# Docker
docker-compose.yml
.docker

# Editors
.vscode
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp

# Git
.git
.gitignore
.gitmodules
.gitattributes

# Virtual environment
.env/
.venv/
env/
venv/
src/env/
src/venv/

# Python
src/__pycache__/
src/*.py[cod]
src/*$py.class

# Development
dev/